# Env variables setup
# copy env.example to .env to configure

# Request URL Configuration & Verification
# https://api.slack.com/events-api#request_url_configuration__amp__verification
SLACK_VERIFICATION_TOKEN=xxx

# OAuth2 token for Web API method chat.unfurl
SLACK_API_TOKEN=xoxp-xxx