# Env variables setup
# copy env.example to .env to configure

# Timezone in what dates should be converted to
TIMEZONE=Europe/Tallinn

# Request URL Configuration & Verification
# https://api.slack.com/events-api#request_url_configuration__amp__verification
SLACK_VERIFICATION_TOKEN=xxx

# OAuth2 token for Web API method chat.unfurl
SLACK_API_TOKEN=xoxp-xxx

# Hostname where Eventum is installed
EVENTUM_DOMAIN=eventum.example.net

# Access to Eventum RPC
EVENTUM_RPC_URL=https://eventum.example.net/rpc/xmlrpc.php
EVENTUM_USERNAME=eventum@example.net
EVENTUM_ACCESS_TOKEN=xxx
