# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=22582f151423e2eb29d20482853d7260
###< symfony/framework-bundle ###

# Path prefix under what to expose app.
# Example: /slack-unfurl/
APP_PREFIX=/

# Request URL Configuration & Verification
# https://api.slack.com/events-api#request_url_configuration__amp__verification
SLACK_VERIFICATION_TOKEN=xxx

# OAuth2 token for Web API method chat.unfurl
SLACK_API_TOKEN=xoxp-xxx

# EOF
